body {
  background-color: #000;
}
section {
  margin: 150px 0;
  font-family: AkzidenzGroteskBQ-Light;
  min-width: 1000px;
  min-height: 1000px;
}
h1 {
  font-size: 70px;
  text-align: center;
  font-family: Airborne;
  color: #707070;
  margin-bottom: -12px;
  transition: all 0.3s ease-in-out;
}
h1:hover {
  transition: all 0.3s ease-in-out;
  color: #fff;
}

h4 {
  font-size: 18px;
  color: #707070;
  text-align: center;
}
p {
  text-align: center;
  color: #707070;
}
img {
  width: 200px;
  display: block;
  margin: 0 auto;
}
hr {
  background-color: #707070;
  height: 8px;
  margin: 0 auto;
  margin-bottom: 2px;
  width: 330px;
}

.small-logo {
  width: 60px;
}

.col-6 {
  padding-right: 80px;
  padding-left: 85px;
  margin: 90px 0;
}
.signature {
  text-align: end;
}
