body {
  background-color: #000;
}
section {
  margin: 10px 0;
  /*font-family: AkzidenzGroteskBQ-Light;*/
  min-width: 1000px;
  min-height: 500px;
}

@font-face {
  font-family: "airborne";
  src: url(fonts/airborne.ttf) format("truetype");
}
p.customfont {
  font-family: "airborne", Verdana, Tahoma;
}
h1 {
  font-size: 70px;
  text-align: center;
  /*font-family: Airborne;*/
  color: #707070;
  margin-bottom: -12px;
  transition: all 0.3s ease-in-out;
}
h1:hover {
  transition: all 0.3s ease-in-out;
  color: #939393;
  cursor: pointer;
}
h1::first-letter {
  animation-name: spin;
  animation-duration: 55000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.adresses {
  margin-top: -120px;
}

h4 {
  font-size: 18px;
  color: #707070;
  text-align: center;
}

p {
  text-align: center;
  color: #707070;
}
img {
  width: 200px;
  display: block;
  margin: 0 auto;
}
hr {
  background-color: #707070;
  height: 8px;
  margin: 0 auto;
  margin-bottom: 2px;
  width: 330px;
}

.small-logo {
  width: 60px;
}

.signature {
  text-align: end;
}

#footer-photo {
  width: 55%;
  border-radius: 50%;
}
