body {
  background-color: #ffffff;
}
section {
  margin: 10px 0;
  font-family: AkzidenzGroteskBQ-Light;
  min-width: 1000px;
  min-height: 500px;
}
#main-logo {
  margin: 0 auto;
}
h1 {
  font-size: 90px;
  text-align: center;
  font-family: Airborne;
  color: #000000;
  margin-bottom: -12px;
  transition: opacity 1s ease;
}
h1:hover {
  cursor: pointer;
}
h1::first-letter {
  animation-name: spin;
  animation-duration: 55000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: #000000;
}
h4 {
  font-size: 18px;
  color: #000000;
  text-align: center;
}

p {
  text-align: center;
  color: #000000;
  margin-bottom: -3px;
}
img {
  max-width: 80%;
  opacity: 0.5;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}
img:hover {
  opacity: 1;
  transition: all 0.7s ease-in-out;
  color: #000000;
  cursor: pointer;
}
hr {
  background-color: #000000;
  margin: 0 auto;
  height: 8px;
  width: 294px;
  margin-bottom: 2px;
  margin-top: 2px;
}

.row {
  margin-right: -40px;
  margin-left: -40px;
}
.small-logo {
  width: 60px;
}

.signature {
  text-align: end;
}
